{#
/**
 * @file
 * Default theme implementation to display a social auth buttons widget.
 *
 * Available variables:
 * - element: element.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_social_auth_buttons()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'js-social-auth-buttons',
    'social-auth-buttons',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ element }}
</div>
